#contacts {
  background-image: url(../assets/images/Background_Contacts.png);
  background-size: auto 787px;
  background-repeat: no-repeat;

  display: flex;
  flex-direction: column;
  height: 787px;
  justify-content: center;
  align-items: center;

  .subtitle,
  h2 {
    margin-bottom: 8px;
  }

  p:not(.subtitle) {
    font: var(--text-md);
  }
}

#social-media {
  margin-top: 48px;

  .item {
    display: grid;
    grid-template-columns: 40px 1fr 1fr;
    align-items: center;
    border-radius: 8px;
    width: 400px;
    height: 68px;
    background-color: var(--gray-300);
    border: 1.5px solid var(--gray-300);
    padding: 20px;

    &:hover span#linkedin-logo {
      background-image: url(../assets/icons/linkedin-logo-blue.svg);
      width: 28px;
      height: 28px;
    }

    &:hover span#instagram-logo {
      background-image: url(../assets/icons/instagram-logo-blue.svg);
      width: 28px;
      height: 28px;
    }

    &:hover span#github-logo {
      background-image: url(../assets/icons/github-logo-blue.svg);
      width: 28px;
      height: 28px;
    }

    &:hover span#envelope-simple {
      background-image: url(../assets/icons/envelope-simple-blue.svg);
      width: 28px;
      height: 28px;
    }

    &:hover {
      border: 1.5px solid var(--blue);
    }

    &:not(:last-child) {
      margin-bottom: 16px;
    }
  }

  span#linkedin-logo {
    background-image: url(../assets/icons/linkedin-logo.svg);
    width: 28px;
    height: 28px;
  }

  span#instagram-logo {
    background-image: url(../assets/icons/instagram-logo.svg);
    width: 28px;
    height: 28px;
  }

  span#github-logo {
    background-image: url(../assets/icons/github-logo.svg);
    width: 28px;
    height: 28px;
  }

  span#envelope-simple {
    background-image: url(../assets/icons/envelope-simple.svg);
    width: 28px;
    height: 28px;
  }

  img {
    &:last-child {
      width: 20px;
      height: 20px;
      justify-self: end;
    }
  }
}